*.DS_Store
*.pyc
*py~
*.pth
unit-tests/*
memcap/*
pointer/*
*.swp
.vscode
*~
temp/*
dist/*
build/*
docs/site/*
docs/theme/*
tags
Keras.egg-info

# test-related
.coverage
.cache

# developer environments
.idea
